@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
  
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
  
font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group p {
    margin: 0 0 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 20px;
    height: 50px;
font-size: medium;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button.btn-submit {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-submit:hover {
    background-color: #4cae4c;
}
